#btnReload{
    position: absolute;
    left:390px;
    top:490px;
}
#div1 {    
    position: absolute;
    left:25px;
    top: 30px;
    width: 50px;
    height: 50px;
}
#div2 { 
    position: absolute;
    left:205px;
    top: 30px;
    width: 50px;
    height: 50px;
}
#div3 { 
    position: absolute;
    left:385px;
    top: 30px;
    width: 50px;
    height: 50px;
}
#div4 { 
    position: absolute;
    left:90px;
    top: 90px;
    width: 50px;
    height: 50px;
}
#div5 { 
    position: absolute;
    left:205px;
    top: 90px;
    width: 50px;
    height: 50px;
}
#div6 { 
    position: absolute;
    left:325px;
    top: 90px;
    width: 50px;
    height: 50px;
}
#div7 { 
    position: absolute;
    left:145px;
    top: 150px;
    width: 50px;
    height: 50px;
}
#div8 { 
    position: absolute;
    left:205px;
    top: 150px;
    width: 50px;
    height: 50px;
}
#div9 { 
    position: absolute;
    left:265px;
    top: 150px;
    width: 50px;
    height: 50px;
}
#div10 { 
    position: absolute;
    left:25px;
    top: 210px;
    width: 50px;
    height: 50px;
}
#div11 { 
    position: absolute;
    left:85px;
    top: 210px;
    width: 50px;
    height: 50px;
}
#div12 { 
    position: absolute;
    left:145px;
    top: 210px;
    width: 50px;
    height: 50px;
}
#div13 { 
    position: absolute;
    left:265px;
    top: 210px;
    width: 50px;
    height: 50px;
}
#div14 { 
    position: absolute;
    left:325px;
    top: 210px;
    width: 50px;
    height: 50px;
}
#div15 { 
    position: absolute;
    left:385px;
    top: 210px;
    width: 50px;
    height: 50px;
}
#div16 { 
    position: absolute;
    left:145px;
    top: 270px;
    width: 50px;
    height: 50px;
}
#div17 { 
    position: absolute;
    left:205px;
    top: 270px;
    width: 50px;
    height: 50px;
}
#div18 { 
    position: absolute;
    left:265px;
    top: 270px;
    width: 50px;
    height: 50px;
}
#div19 { 
    position: absolute;
    left:85px;
    top: 330px;
    width: 50px;
    height: 50px;
}
#div20 { 
    position: absolute;
    left:205px;
    top: 330px;
    width: 50px;
    height: 50px;
}
#div21 { 
    position: absolute;
    left:325px;
    top: 330px;
    width: 50px;
    height: 50px;
}
#div22 { 
    position: absolute;
    left:25px;
    top: 385px;
    width: 50px;
    height: 50px;
}
#div23 { 
    position: absolute;
    left:205px;
    top: 385px;
    width: 50px;
    height: 50px;
}
#div24 { 
    position: absolute;
    left:385px;
    top: 385px;
    width: 50px;
    height: 50px;
}
.steinWeiss{    
    position: absolute;
    left:20px;
    top:480px;
}
.steinSchwarz{    
    position: absolute;
    left:20px;
    top:540px;
}
img{
    width:55px;
    height:55px;
}
